; Line 14 (ExecStart) might change depending on tour

[Unit]
Description=front_end
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=cam
Restart=always
WorkingDirectory=/home/cam/security_cam_display
ExecStart=/home/cam/security_cam_display/.venv/bin/python /home/cam/security_cam_display/front_end.py

[Install]
WantedBy=multi-user.target
