; Line 14 (ExecStart) might change depending on tour

[Unit]
Description=update_archive
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
Type=simple
User=pi
Restart=always
WorkingDirectory=/home/pi/security_cam_display
ExecStart=sudo /home/pi/security_cam_display/.venv/bin/python /home/pi/security_cam_display/update_archive.py

[Install]
WantedBy=multi-user.target
